<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item active">
    <a class="nav-link in" data-toggle="tab" href="#Chronic" role="tab" aria-controls="Chronic"
      aria-selected="false">Chronic</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#Current" role="tab" aria-controls="Current"
      aria-selected="true">Current</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#Previous" role="tab" aria-controls="Previous"
      aria-selected="true">Previous</a>
  </li>
</ul>
<div class="tab-content mini-tab-content" id="myTabContent">
  <div class="tab-pane fade in active" id="Chronic" role="tabpanel" aria-labelledby="Chronic">
    <div class="row p">
      <table class="table-hover table-condensed wide-table">
        <thead>
          <tr>
            <th>Disease Name</th>
            <th>Infection Date</th>
            <th>Medication</th>
            <th>Hospitalization</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let diesese of Chdiseasses">
            <td><span>{{diesese.name}}</span></td>
            <td><span>{{diesese.infectionDate}}</span></td>
            <td>
              <!-- <a href="">{{diesese.}}</a> -->
            </td>
            <td class="medication-notes">
              <p>{{diesese.hospitalization}}</p>
            </td>
          </tr>
        </tbody>
      </table>
      <a href="" class="btn btn-primary btn-lg btn-absolute" data-toggle="modal" data-target="#Chronic-Modal">Add
        Disease</a>
    </div>



    <div class="modal fade" id="Chronic-Modal" tabindex="-1" role="dialog" aria-labelledby="medication-ModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="medication-ModalLabel">Chronic Disease</h4>
          </div>
          <div class="modal-body">
            <form [formGroup]="ChdieseaseForm">
              <div class="form-group">
                <input type="hidden" formControlName="id">
                <label>Disease Name</label>
                <input formControlName="name" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Infection Date</label>
                <input formControlName="infectionDate" type="date" class="form-control">
              </div>
              <!-- <div class="form-group">
                <label>Recovery Date</label>
                <input type="text" class="form-control">
              </div> -->
              <div class="form-group">
                <label>Hospitalization</label>
                <textarea formControlName="hospitalization" class="form-control"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" (click)="onSave('Chronic')" class="btn btn-primary btn-flat">Add Disease</button>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="tab-pane fade" id="Current" role="tabpanel" aria-labelledby="Current">
    <div class="row p">
      <table class="table-hover table-condensed wide-table">
        <thead>
          <tr>
            <th>Disease Name</th>
            <th>Infection Date</th>
            <th>Medication</th>
            <th>Hospitalization</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let diesese of Cdiseasses">
                <td><span>{{diesese.name}}</span></td>
                <td><span>{{diesese.infectionDate}}</span></td>
                <td>
                  <!-- <a href="">{{diesese.}}</a> -->
                </td>
                <td class="medication-notes">
                  <p>{{diesese.hospitalization}}</p>
                </td>
              </tr>
        </tbody>
      </table>
      <a href="" class="btn btn-primary btn-lg btn-absolute" data-toggle="modal" data-target="#Current-Modal">Add
        Disease</a>
    </div>
    <div class="modal fade" id="Current-Modal" tabindex="-1" role="dialog" aria-labelledby="medication-ModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="medication-ModalLabel">Current Disease</h4>
          </div>
          <div class="modal-body">
              <form [formGroup]="CdieseaseForm">
                <div class="form-group">
                  <input type="hidden" formControlName="id">
                  <label>Disease Name</label>
                  <input formControlName="name" type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label>Infection Date</label>
                  <input formControlName="infectionDate" type="date" class="form-control">
                </div>
                <!-- <div class="form-group">
                  <label>Recovery Date</label>
                  <input formControlName="recoveryDate" type="text" class="form-control">
                </div> -->
                <div class="form-group">
                  <label>Hospitalization</label>
                  <textarea formControlName="hospitalization" class="form-control"></textarea>
                </div>
              </form>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" (click)="onSave('Current')" class="btn btn-primary btn-flat">Add Disease</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="Previous" role="tabpanel" aria-labelledby="Current">
    <div class="row p">
      <table class="table-hover table-condensed wide-table">
        <thead>
          <tr>
            <th>Disease Name</th>
            <th>Infection Date</th>
            <th>Recovery Date</th>
            <th>Medications</th>
            <th>Hospitalization</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let diesese of Pdiseasses">
                <td><span>{{diesese.name}}</span></td>
                <td><span>{{diesese.infectionDate}}</span></td>
                <td><span>{{diesese.recoveryDate}}</span></td>
                <td>
                  <!-- <a href="">{{diesese.}}</a> -->
                </td>
                <td class="medication-notes">
                  <p>{{diesese.hospitalization}}</p>
                </td>
              </tr>
        </tbody>
      </table>
      <a href="" class="btn btn-primary btn-lg btn-absolute" data-toggle="modal" data-target="#Past-Modal">Add
        Disease</a>
    </div>
    <div class="modal fade" id="Past-Modal" tabindex="-1" role="dialog" aria-labelledby="medication-ModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="medication-ModalLabel">Previous Disease</h4>
          </div>
          <div class="modal-body">
              <form [formGroup]="PdieseaseForm">
                <div class="form-group">
                  <input type="hidden" formControlName="id">
                  <label>Disease Name</label>
                  <input formControlName="name" type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label>Infection Date</label>
                  <input formControlName="infectionDate" type="date" class="form-control">
                </div>
                <div class="form-group">
                  <label>Recovery Date</label>
                  <input formControlName="recoveryDate" type="date" class="form-control">
                </div>
                <div class="form-group">
                  <label>Hospitalization</label>
                  <textarea formControlName="hospitalization" class="form-control"></textarea>
                </div>
              </form>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" (click)="onSave('Previous')" class="btn btn-primary btn-flat">Add Disease</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>