<div class="content">
  <table class="table-hover table-condensed wide-table">
    <thead>
      <tr>
        <th>Medication Name</th>
        <th>Number of Times</th>
        <th>Described by</th>
        <th>Clinic</th>
        <th>from</th>
        <th>to</th>
        <th>Notes</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><span>Mega Mox</span></td>
        <td><span>3 times per day</span></td>
        <td><span>Domairey</span></td>
        <td><span>ITI</span></td>
        <td><span>16/06/2019</span></td>
        <td><span>-</span></td>
        <td class="medication-notes">
          <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto
            ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid
            neque molestias et qui sunt. Odit, molestiae.</p>
        </td>
        <td>
          <a href="" data-toggle="modal" data-target="#medication-Modal"><i class="far fa-edit"></i></a>
          <a href="" data-toggle="modal" data-target="#delete-modal"><i class="far fa-trash-alt"></i></a>
        </td>
      </tr>
      <tr>
        <td><span>Mega Mox</span></td>
        <td><span>3 times per day</span></td>
        <td><span>Domairey</span></td>
        <td><span>ITI</span></td>
        <td><span>16/06/2019</span></td>
        <td><span>25/06/2019</span></td>
        <td class="medication-notes">
          <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto
            ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid
            neque molestias et qui sunt. Odit, molestiae.</p>
        </td>
        <td>
          <a href="" data-toggle="modal" data-target="#medication-Modal"><i class="far fa-edit"></i></a>
          <a href="" data-toggle="modal" data-target="#delete-modal"><i class="far fa-trash-alt"></i></a>
        </td>
      </tr>
      <tr>
        <td><span>Mega Mox</span></td>
        <td><span>3 times per day</span></td>
        <td><span>Domairey</span></td>
        <td><span>ITI</span></td>
        <td><span>16/06/2019</span></td>
        <td><span>-</span></td>
        <td class="medication-notes">
          <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto
            ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid
            neque molestias et qui sunt. Odit, molestiae.</p>
        </td>
        <td>
          <a href="" data-toggle="modal" data-target="#medication-Modal"><i class="far fa-edit"></i></a>
          <a href="" data-toggle="modal" data-target="#delete-modal"><i class="far fa-trash-alt"></i></a>
        </td>
      </tr>
      <tr>
        <td><span>Mega Mox</span></td>
        <td><span>3 times per day</span></td>
        <td><span>Domairey</span></td>
        <td><span>ITI</span></td>
        <td><span>16/06/2019</span></td>
        <td><span>-</span></td>
        <td class="medication-notes">
          <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto
            ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid
            neque molestias et qui sunt. Odit, molestiae.</p>
        </td>
        <td>
          <a href="" data-toggle="modal" data-target="#medication-Modal"><i class="far fa-edit"></i></a>
          <a href="" data-toggle="modal" data-target="#delete-modal"><i class="far fa-trash-alt"></i></a>
        </td>
      </tr>
      <tr>
        <td><span>Mega Mox</span></td>
        <td><span>3 times per day</span></td>
        <td><span>Domairey</span></td>
        <td><span>ITI</span></td>
        <td><span>16/06/2019</span></td>
        <td><span>-</span></td>
        <td class="medication-notes">
          <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto
            ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid
            neque molestias et qui sunt. Odit, molestiae.</p>
        </td>
        <td>
          <a href="" data-toggle="modal" data-target="#medication-Modal"><i class="far fa-edit"></i></a>
          <a href="" data-toggle="modal" data-target="#delete-modal"><i class="far fa-trash-alt"></i></a>
        </td>
      </tr>
      <tr>
        <td><span>Mega Mox</span></td>
        <td><span>3 times per day</span></td>
        <td><span>Domairey</span></td>
        <td><span>ITI</span></td>
        <td><span>16/06/2019</span></td>
        <td><span>-</span></td>
        <td class="medication-notes">
          <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto
            ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid
            neque molestias et qui sunt. Odit, molestiae.</p>
        </td>
        <td>
          <a href="" data-toggle="modal" data-target="#medication-Modal"><i class="far fa-edit"></i></a>
          <a href="" data-toggle="modal" data-target="#delete-modal"><i class="far fa-trash-alt"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- </div> -->

  <!-- <div class="text-right"> -->
  <a href="" class="btn btn-primary btn-lg btn-absolute" data-toggle="modal" data-target="#medication-Modal">Add
    Medication</a>
  <!-- </div> -->
</div>


<!-- medication modal -->
<div class="modal fade" id="medication-Modal" tabindex="-1" role="dialog" aria-labelledby="medication-ModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="medication-ModalLabel">Medication</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>Medication Name</label>
            <input name="medicine" type="text" class="form-control">
          </div>
          <div class="form-group">
            <input name="medicine_nooftimes" type="number" class="form-control form-control-sm">
            <label class="sub-label">times per day, for</label>
            <input type="number" name="medicine_period" class="form-control form-control-sm">
            <select name="medicine_period2" class="form-control form-control-sm">
              <option>days</option>
              <option>weeks</option>
              <option>months</option>
              <option>for ever</option>
            </select>
          </div>
          <div class="form-group">
            <label>Described by Dr.</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Clinic</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>from</label>
            <input type="date" class="form-control">
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox"> Till Now
              </label>
            </div>
          </div>
          <div class="form-group">
            <label>To</label>
            <input type="date" class="form-control">
          </div>
          <div class="form-group">
            <label>Notes</label>
            <input type="text" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-flat">Add Medication</button>
      </div>
    </div>
  </div>
</div>