
<section class="inner-header divider layer-overlay overlay-deep" data-bg-img="../../../../assets/images/bg/bg5.jpg" style="background-image: url(&quot;../../../../assets/images/bg/bg5.jpg&quot;);">
  <div class="container pt-90 pb-50">
    <!-- Section Content -->
    <div class="section-content">
      <div class="row">
        <div class="col-md-12 xs-text-center">
          <h3 class="font-28">Doctor Details</h3>
          <ol class="breadcrumb white mt-10">
            <li><a href="#">Home</a></li>
            <li class="active text-theme-colored">Doctor Details</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section-content" class="container pt-90 pb-50">

  <div class="row">
        <app-doctor-info-display [Doctor]="Doctor" ></app-doctor-info-display>
        <app-doctor-availability></app-doctor-availability>
      </div>
      </div>
     