<!-- Visits -->
<!-- <div class="tab-pane fade" id="tab16"> -->


  <div class="content">

    <table class="table-hover table-condensed wide-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Clinic</th>
          <th>Doctor</th>
          <th>Specialization</th>
          <th>Report</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vis of visits">
          <td><span>{{vis.date}}</span></td>
          <td><span>{{vis.time}}</span></td>
          <td><a href="">{{vis.clininc}}</a></td>
          <td><a href="">{{vis.doctor}}</a></td>
          <td><span>{{vis.specialization}}</span></td>
          <td><span>-</span></td>
          <td>{{vis.type}}</td>
        </tr>
        <!-- <tr>
          <td><span>16/06/2019</span></td>
          <td><span>01:45 pm</span></td>
          <td><a href="">ITI</a></td>
          <td><a href="">Domairey</a></td>
          <td><span>Dentist</span></td>
          <td><a href="">Report</a></td>
          <td>Previous</td>
        </tr> -->
      </tbody>
    </table>
  </div>
<!-- </div> -->