<section class="inner-header divider layer-overlay overlay-deep" data-bg-img="../../../../assets/images/bg/bg5.jpg"
  style="background-image: url(&quot;../../../../assets/images/bg/bg5.jpg&quot;);">
  <div class="container pt-90 pb-50">
    <!-- Section Content -->
    <div class="section-content">
      <div class="row">
        <div class="col-md-12 xs-text-center">
          <h3 class="font-28">Clinic Details</h3>
          <ol class="breadcrumb white mt-10">
            <li><a href="#">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li class="active text-theme-colored">Clinic Details</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="section-content" class="container pt-90 pb-50">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 pull-right pl-60 pl-sm-15" *ngIf="clinic">
      <div >
        <div>
          <h3>{{clinic.name}}</h3>
          <h5 class="text-theme-colored">MBBS (Sydney), FRACS (Paediatric Surgery)</h5>
          <p>{{clinic.description}}</p>
        </div>
      </div>
      <div>
        <div class="mt-30">
          <dl class="dl-horizontal doctor-info">
            <dt>Address</dt>
            <dd>
              {{clinic.address}}
            </dd>
            <hr>
            <dt>Phone</dt>
            <dd>
              {{clinic.phone}}
            </dd>
            <dt>Website</dt>
            <dd>
              www.yourdomain.com
            </dd>
            <hr>
          </dl>
        </div>
        <a  class="btn btn-dark btn-theme-colored mt-30 mt-sm-20 pl-sm-10 pr-sm-10" [routerLink]="['/AddDr' , clinic.id]" >Add Dr</a>
      </div>
    </div>
    <div class="col-sx-12 col-sm-4 col-md-4 sidebar pull-left">
      <div class="doctor-thumb">
        <img src="../../../../assets/images/team/clinic1.jpg" alt="">
      </div>
      <ul class="social-icons icon-gray mt-15 mb-15">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-skype"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      </ul>
      <div class="p-30 p-sm-10" style="border: 10px solid #f1f1f1;">
        <h5><i class="fa fa-clock-o text-theme-colored"></i> Availability</h5>
        <div class="opening-hourse text-left">
          <ul class="list-unstyled">
            <li class="clearfix"> <span> Monday - Friday </span>
              <div class="value"> 9.00 - 20.00 </div>
            </li>
            <li class="clearfix"> <span> Saturday </span>
              <div class="value"> 10.00 - 16.00 </div>
            </li>
            <li class="clearfix"> <span> Sunday </span>
              <div class="value"> 9.30 - 18.00 </div>
            </li>
          </ul>
        </div>
        <a href="#" class="btn btn-dark btn-theme-colored mt-30 mt-sm-20 pl-sm-10 pr-sm-10">Request an appointment</a>
      </div>

    </div>

  </div>


</div>