<div class="col-xs-12 col-sm-8 col-md-8 pull-right pl-60 pl-sm-15">
  <div>
    <h3>{{ Doctor.name }}</h3>
    <h5 class="text-theme-colored">MBBS (Sydney), FRACS (Paediatric Surgery)</h5>
    <p>After graduating from West Virginia University Medical School, Dr. Jonathon Alex completed a two-year fellowship in sports medicine at Akron Children’s Hospital. During his training at Akron, Dr. Jonathon Alex was team physician for the University of Akron and Walsh University.</p>
  </div>
  <div class="mt-30">
    <dl class="dl-horizontal doctor-info">
      <dt>Speciality</dt>
      <dd>
        <ul class="list theme-colored angle-double-right m-0">
          <li class="mt-0">{{ Doctor.spectialisation }}</li>
        
        </ul>
      </dd>
      <hr> 
      <dt>Address</dt>
      <dd>
        Suite 27, Medical Centre, The Sunshine Coast Private Hospital, QLD 4556
      </dd>
      <hr>
      <dt>Phone</dt>
      <dd>
       {{ Doctor.name }}
      </dd>
      <hr>
      <dt>Email</dt>
      <dd>
       {{ Doctor.name }}
      </dd>
     
    </dl>
  </div> 
</div>