<section id="pricing" data-bg-img="images/pattern/p4.png" style="background-image: url(&quot;images/pattern/p4.png&quot;);">
  <div class="container pb-50">
    <div class="section-title text-center">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="text-uppercase mt-0">Pricing</h2>
          <div class="title-icon">
            <img class="mb-10" src="images/title-icon.png" alt="">
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem<br> voluptatem obcaecati!</p>
        </div>
      </div>
    </div>
    <div class="section-content">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 hvr-float-shadow mb-sm-30 wow fadeInLeft animation-delay1" style="visibility: visible;">
          <div class="pricing-table style1 bg-white-light border-10px text-center">
            <div class="pricing-icon">
              <i class="icon-teeth1"></i>
            </div>
            <div class="pt-40 pb-60">
              <h3 class="package-type mt-40">Dental Care</h3>
              <p>Hurry to grap your offer now</p>
              <h1 class="price text-theme-colored mb-10">24<span class="font-48">%</span></h1>
              <h4 class="discount">Discount</h4>
              <a class="btn btn-colored btn-theme-colored text-uppercase" href="#">Get Offer!</a><br>
              <a class="btn text-uppercase text-black-333 font-12 mt-10" href="#">Learn more <i class="fa fa-angle-double-right text-theme-colored font-15"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 hvr-float-shadow mb-sm-30 wow fadeInUp animation-delay1" style="visibility: visible;">
          <div class="pricing-table style1 bg-white-light border-10px text-center">
            <div class="pricing-icon">
              <i class="icon-hospital35"></i>
            </div>
            <div class="pt-40 pb-60">
              <h3 class="package-type mt-40">Blood Test</h3>
              <p>Hurry to grap your offer now</p>
              <h1 class="price text-theme-colored mb-10">15<span class="font-48">%</span></h1>
              <h4 class="discount">Discount</h4>
              <a class="btn btn-colored btn-theme-colored text-uppercase" href="#">Get Offer!</a><br>
              <a class="btn text-uppercase text-black-333 font-12 mt-10" href="#">Learn more <i class="fa fa-angle-double-right text-theme-colored font-15"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 hvr-float-shadow mb-sm-30 wow fadeInRight animation-delay1" style="visibility: visible;">
          <div class="pricing-table style1 bg-white-light border-10px text-center">
            <div class="pricing-icon">
              <i class="icon-stethoscopes"></i>
            </div>
            <div class="pt-40 pb-60">
              <h3 class="package-type mt-40">Medical Checkup</h3>
              <p>Hurry to grap your offer now</p>
              <h1 class="price text-theme-colored mb-10">30<span class="font-48">%</span></h1>
              <h4 class="discount">Discount</h4>
              <a class="btn btn-colored btn-theme-colored text-uppercase" href="#">Get Offer!</a><br>
              <a class="btn text-uppercase text-black-333 font-12 mt-10" href="#">Learn more <i class="fa fa-angle-double-right text-theme-colored font-15"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>