<section id="home" class="divider">
  <div class="container-fluid p-0">
    
    <!-- Slider Revolution Start -->s
   <!--- Start Slider --->
<Section id="slider">
    <div class="slider-container">
    <!-- Start Slides -->
    <div id="slides">
    <div class="slide">
    <img src="../../../assets/images/bg/bg5.jpg" alt="slide one">
    <div class="caption">
    <p>
        Every day we bring hope to millions of children in the world's <br>
        hardest places as a sign of God's unconditional love.
                
    </p>
    </div>
    </div>
    <div class="slide">
    <img src="../../../assets/images/bg/bg1.jpg" alt="slide two">
    <div class="caption">
    <p>
        Every day we bring hope to millions of children in the world's <br>
        hardest places as a sign of God's unconditional love.
                
    </p>
    </div>
    </div>
    <div class="slide">
    <img src="../../../assets/images/bg/bg2.jpg" alt="slide three">
    <div class="caption">
    <p>
        Every day we bring hope to millions of children in the world's <br>
        hardest places as a sign of God's unconditional love.
                
    </p>
    </div>
    </div>
    </div>
    <!-- End Slides -->
                    
    <!-- Start Timeline -->
    <span class="timeline"></span>
    <!-- End Timeline -->
    </div>
    </Section>
    <!--- End Slider --->
  </div>
  </section>
