<section class="bg-lighter"> 
  <div class="container">
    <div class="row">
      <div class="col-md-7 wow fadeInLeft animation-delay1" style="visibility: visible;">
        <h4 class="font-playfair text-uppercase mt-0">Our Services</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis voluptatibus neque, assumenda maxime. Eaque libero unde corrupti deleniti maxime ratione doloremque suscipit perferendis aperiam labore debitis atque odit neque possimus optio quo.</p>
        <div class="row mt-20 mb-sm-30">
          <div class="col-sm-6">
            <div class="service-icon-box"> <a href="#" class="pull-left mr-20"><i class="icon-ambulance14"></i></a>
              <div class="mt-5">
                <h6 class="mt-5">Emergency Care</h6>
                <p class="font-11"><em>Lorem ipsum</em></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="service-icon-box"> <a href="#" class="pull-left mr-20"><i class="icon-illness"></i></a>
              <div class="">
                <h6 class="mt-5">Operation Theater</h6>
                <p class="font-11"><em>Lorem ipsum</em></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="service-icon-box"> <a href="#" class="pull-left mr-20"><i class="icon-stethoscope10"></i></a>
              <div class="">
                <h6 class="mt-5">Outdoor Checkup</h6>
                <p class="font-11"><em>Lorem ipsum</em></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="service-icon-box"> <a href="#" class="pull-left mr-20"><i class="icon-medical51"></i></a>
              <div class="">
                <h6 class="mt-5">Cancer Service</h6>
                <p class="font-11"><em>Lorem ipsum</em></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="service-icon-box"> <a href="#" class="pull-left mr-20"><i class="icon-hospital35"></i></a>
              <div class="">
                <h6 class="mt-5">Blood Test</h6>
                <p class="font-11"><em>Lorem ipsum</em></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="service-icon-box"> <a href="#" class="pull-left mr-20"><i class="icon-tablets9"></i></a>
              <div class="">
                <h6 class="mt-5">Pharmacy</h6>
                <p class="font-11"><em>Lorem ipsum</em></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 wow fadeInRight animation-delay1" style="visibility: visible;">
        <div class="thumb">
          <img alt="" src="images/photos/4.jpg" class="img-fullwidth">
        </div>
        <h4 class="mt-20">Why Choose Us?</h4>
        <div class="panel-group accordion style2 mb-0 mt-20" id="accordion2">
          <div class="panel">
            <div class="panel-title"> <a href="#accordion21" data-toggle="collapse" data-parent="#accordion2"> <span class="open-sub"></span> Best Case Strategy </a> </div>
            <div class="panel-collapse collapse" id="accordion21">
              <div class="panel-content">
                <p>Ut cursus massa at urnaaculis estie. Sed aliquamellus vitae ultrs condmentum leo massa mollis estiegittis miristum nulla.</p>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-title"> <a href="#accordion22" data-toggle="collapse" data-parent="#accordion2"> <span class="open-sub"></span> Review your Case Documents </a> </div>
            <div class="panel-collapse collapse" id="accordion22">
              <div class="panel-content">
                <p>Ut cursus massa at urnaaculis estie. Sed aliquamellus vitae ultrs condmentum leo massa mollis estiegittis miristum nulla.</p>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-title"> <a href="#accordion23" data-toggle="collapse" data-parent="#accordion2"> <span class="open-sub"></span> Fight for Justice </a> </div>
            <div class="panel-collapse collapse" id="accordion23">
              <div class="panel-content">
                <p>Ut cursus massa at urnaaculis estie. Sed aliquamellus vitae ultrs condmentum leo massa mollis estiegittis miristum nulla.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
