<div class="col-sx-12 col-sm-4 col-md-4 sidebar pull-left">
              <div class="doctor-thumb">
                <img src="images/team/b1.jpg" alt="">
              </div>
              <ul class="social-icons icon-gray mt-15 mb-15">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul>
              <div class="p-30 p-sm-10" style="border: 10px solid #f1f1f1;">
                <h5><i class="fa fa-clock-o text-theme-colored"></i> Availability</h5>
                <div class="opening-hourse text-left">
                  <ul class="list-unstyled">
                    <li class="clearfix"> <span> Monday - Friday </span>
                      <div class="value"> 9.00 - 20.00 </div>
                    </li>
                    <li class="clearfix"> <span> {{dates[0].day}} </span>
                      <div class="value"> 10.00 - 16.00 </div>
                    </li>
                    <li class="clearfix"> <span> {{dates[1].day}} </span>
                      <div class="value"> 9.30 - 18.00 </div>
                    </li>
                  </ul>
                </div>
                <a href="#" class="btn btn-dark btn-theme-colored mt-30 mt-sm-20 pl-sm-10 pr-sm-10">Request an appointment</a>
              </div>
              <div class="mt-30 p-30" style="border: 10px solid #f1f1f1;">
                <h5 class="text-theme-colored title-border mb-20">Client's Feedback</h5>
                <div class="testimonial-carousel-info owl-nav-top owl-carousel owl-theme owl-loaded">
                  
                  
                  
                <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-590px, 0px, 0px); transition: all 0.25s ease 0s; width: 1475px;"><div class="owl-item cloned" style="width: 280px; margin-right: 15px;"><div class="item">
                    <div class="comment">
                      <p>Lorem ipsum dolor sit ametconse ctetur adipisicing elitvolup tatem error sit qui dolorem facilis.</p>
                    </div>
                    <div class="content mt-20">
                      <div class="thumb pull-right">
                        <img class="img-circle" alt="" src="images/testimonials/s3.jpg">
                      </div>
                      <div class="patient-details text-right pull-right mr-20 mt-10">
                        <h5 class="author">Jonathan Smith</h5>
                        <h6 class="title">cici inc.</h6>
                      </div>
                    </div>
                  </div></div><div class="owl-item" style="width: 280px; margin-right: 15px;"><div class="item">
                    <div class="comment">
                      <p>Lorem ipsum dolor sit ametconse ctetur adipisicing elitvolup tatem error sit qui dolorem facilis.</p>
                    </div>
                    <div class="content mt-20">
                      <div class="thumb pull-right">
                        <img class="img-circle" alt="" src="images/testimonials/s1.jpg">
                      </div>
                      <div class="patient-details text-right pull-right mr-20 mt-10">
                        <h5 class="author">Jonathan Smith</h5>
                        <h6 class="title">cici inc.</h6>
                      </div>
                    </div>
                  </div></div><div class="owl-item active" style="width: 280px; margin-right: 15px;"><div class="item">
                    <div class="comment">
                      <p>Lorem ipsum dolor sit ametconse ctetur adipisicing elitvolup tatem error sit qui dolorem facilis.</p>
                    </div>
                    <div class="content mt-20">
                      <div class="thumb pull-right">
                        <img class="img-circle" alt="" src="images/testimonials/s2.jpg">
                      </div>
                      <div class="patient-details text-right pull-right mr-20 mt-10">
                        <h5 class="author">Jonathan Smith</h5>
                        <h6 class="title">cici inc.</h6>
                      </div>
                    </div>
                  </div></div><div class="owl-item" style="width: 280px; margin-right: 15px;"><div class="item">
                    <div class="comment">
                      <p>Lorem ipsum dolor sit ametconse ctetur adipisicing elitvolup tatem error sit qui dolorem facilis.</p>
                    </div>
                    <div class="content mt-20">
                      <div class="thumb pull-right">
                        <img class="img-circle" alt="" src="images/testimonials/s3.jpg">
                      </div>
                      <div class="patient-details text-right pull-right mr-20 mt-10">
                        <h5 class="author">Jonathan Smith</h5>
                        <h6 class="title">cici inc.</h6>
                      </div>
                    </div>
                  </div></div><div class="owl-item cloned" style="width: 280px; margin-right: 15px;"><div class="item">
                    <div class="comment">
                      <p>Lorem ipsum dolor sit ametconse ctetur adipisicing elitvolup tatem error sit qui dolorem facilis.</p>
                    </div>
                    <div class="content mt-20">
                      <div class="thumb pull-right">
                        <img class="img-circle" alt="" src="images/testimonials/s1.jpg">
                      </div>
                      <div class="patient-details text-right pull-right mr-20 mt-10">
                        <h5 class="author">Jonathan Smith</h5>
                        <h6 class="title">cici inc.</h6>
                      </div>
                    </div>
                  </div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><i class="fa fa-angle-left"></i></div><div class="owl-next" style=""><i class="fa fa-angle-right"></i></div></div><div class="owl-dots" style="display: none;"></div></div></div>
              </div>
            </div>